{% extends 'base.html.twig' %}

{% block title %}vidéos de Ighri{% endblock %}
 {% block stylesheets %}
     
         <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
         <link rel="stylesheet" href="{{ asset('css/gallery-grid.css')}}">

{% endblock %}
{% block body %}
{% set xz = ''  %}
{% include "home/menu.html.twig" with { xz : 'ighri'  }  %}

<div class="container gallery-container">
	<h1>Les vidéos de ighri </h1>
    <div class="row">
	<div class="col-md-10 offset-md-1">
	<div class="row">
			<div class=" col-md-3 mt-1  text-center">
				<a class="dropdown-item" href="{{ path('imagepage') }}" ><i class="far fa-image text-"></i>   Photos de ighri</a>
			</div>
			<div class="col-md-3 mt-1 text-center">
				<a class="dropdown-item" href="{{ path('vedio_new') }}" ><i class="far fa-image "></i>  Ajouter une vidéos </a>
			</div>
			<div class="col-md-3 mt-1 text-center">
				<a class="dropdown-item" href="{{ path('zafranpage') }}" ><i class="fab fa-pagelines text-"></i> Safran  Taliouine</a>
			</div>
			<div class="col-md-3 mt-1 text-center">
				<a class="dropdown-item" href="{{ path('zafranpage') }}" ><i class="fab fa-pagelines text-"></i> Créer une publication</a>
			</div>
	</div>
	</div>
	</div>
	<div class="tz-gallery">
		<div class="row">
			 {% for vedio in pagination.getData %}
			  {% if vedio.valider == true %}
			 	<div class="col-sm-12 col-md-12 col-xs-12  mb-5">
					<h5 class="text-center">{{ vedio.titre }}</h5>
			 		{% if vedio.type == "Youtube" %}
						<iframe style="max-height: 360px;max-height: 360px;" width="100%" height="360" src="//www.youtube.com/embed/{{vedio.lien|trim|slice(32,300)|trim }}" 
							frameborder="0" allowfullscreen>
						</iframe> 
					{% elseif vedio.type == "Facebook"   %}
					<div class="" style="max-height: 360px;max-width: 100%;">
						{{ vedio.lien | raw}}

							{% if '</iframe>' in vedio.lien %}
							{% else %}
							</iframe>
							{% endif %}
					</div>
					{% else %}

					{% endif %}
				</div> 
				{% endif %}
			{% endfor %}
	</div>
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="d-flex justify-content-center">
				{{ pagination.display()  }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		 <h1>Créer une nouvelle vidéo</h1>

        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.content) }}
            <div class="form-group">
				<select name="typeName" class="form-control">
					<option >Youtube</option>
					<option >Facebook</option>
					<option >Autre</option>
				</select>
            </div>
            {{ form_row(form.lien) }}

            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
		</div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
	baguetteBox.run('.tz-gallery');
</script>

{% include 'partials/footer.html.twig' %}

{% endblock %}