
    {% extends 'base.html.twig' %}

{% block title %}carte des produit
{% endblock %}

{% block body %}

{% include "produits/partials/navbar.html.twig"  %}
    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Désignation</th>
						        <th>Prix</th>
						        <th>Quantité</th>
						        <th>Total</th> 
								<th>&nbsp;</th>
						      </tr>
						    </thead>
						    <tbody>
								{% set total = 0 %}	
								{% if produits | length > 0 %}
								{% for produi in produits %}
								{% if produi.produit  is empty  %}
								{% else %}
						      <tr class="text-center">
									<td class="image-prod"><img class="img" src=" {{ asset("/produits/produit/"~ produi.produit.image ) }}"></td>
									<td class="product-name">
										<h3>{{ produi.produit.slug }}</h3>
										<p>{{ produi.produit.content|slice(0,50)|raw }}</p>
									</td>
									<td class="price"> {{ produi.produit.prix|number_format(2, '.', ',') }} $</td>
									<td class="quantity">
										<div class="input-group mb-3">
											<input type="text" name="quantity" class="quantity form-control input-number" value="{{ produi.quantite  }}" min="1" max="100">
										</div>
									</td>
									{% set var = produi.quantite * produi.produit.prix  %}
									<td class="total"> {{ var|number_format(2, '.', ',') }} $</td>
									<td class="product-remove"><a href="{{ path('cart_remove',{ 'id': produi.produit.id }) }}"><span class="ion-ios-close"></span></a></td>
						      </tr><!-- END TR-->
								{% set total = total + var %}
								{% endif %}
								{% endfor %}
								{% else %}
									<tr>
										<td>Surprise, le panier est vide !!</td>
									</tr>
								{% endif %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Sous TOTAL</h3>
    					<p class="d-flex">
    						<span>Sous Total</span>
    						<span>{{ total|number_format(2, '.', ',') }} $</span>
    					</p>
    					<p class="d-flex">
    						<span>TVA</span>
    						<span>0.00 $</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>{{ total|number_format(2, '.', ',') }} $</span>
    					</p>
    				</div>
    				<p><a href="{{ path('chekout_page',{'montant' : total }) }}" class="btn btn-primary py-3 px-4">Passer à la caisse</a></p>
    			</div>
    		</div>
			</div>
		</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Abonnez-vous à notre EPICERIE EN LIGNE </h2>
          	<span>Recevez des mises à jour par e-mail sur nos dernières boutiques et offres spéciales</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}