
    {% extends 'base.html.twig' %}

{% block title %}carte des produit
{% endblock %}

{% block body %}

{% include "produits/partials/navbar.html.twig"  %}
 <div class="">
    <section class="mt-4">{{ form_start(form) }}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
			
						<h3 class="mb-4 billing-heading">Détails de facturation</h3>
						<div class="row align-items-end">
							<div class="col-md-12">
								<div class="form-group">
									{{ form_row(form.nomComplet) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(form.adresse) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								{{ form_row(form.maison) }}
							</div>
							</div>
							<div class="w-100"></div>
								<div class="col-md-12">
								<div class="form-group">
									<label for="country">État / Pays</label>
									<div class="select-wrap">
								<select required name="pays" id="" class="form-control">
								<option selected></option>
								<option value="Morocco" selected>Moroc</option>
								<option value="France">France</option>
									{% include "produits/partials/country.html.twig" %}
								</select>
								</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(form.postal) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(form.tele) }}
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									{{ form_row(form.email) }}
								</div>
							</div>
						<div class="col-md-12">
							<div class="form-group">
								{{ form_row(form.password) }}
							</div>
						</div>
						<div class="w-100"></div>
					</div>
					<hr>

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
							<p>Vos données personnelles seront utilisées pour le traitement de votre commande, vous accompagner au cours de votre visite du site web, et pour d’autres raisons décrites dans notre politique de confidentialité.</p>
								<label><input required type="checkbox" name="valider" value="true" class="mr-2">  J’ai lu et j’accepte les conditions générales *</label>
							</div>
						</div>
					</div>
					
					<p><button type="submit" class="btn btn-primary py-3 px-4">Commander</button></p>
					</div>
					<div class="col-xl-5">
	          <div class="row mt-5 pt-3">
	          	<div class="col-md-12 d-flex mb-5">
	          		<div class="cart-detail cart-total p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Sous Total</h3>
	          			<p class="d-flex">
		    						<span>Sous total</span>
		    						<span>{{ montant|number_format(2, '.', ',') }} $</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>TVA </span>
		    						<span>0.00 $</span>
		    					</p>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Montant TOTAL</span>
		    						<span>{{ montant|number_format(2, '.', ',') }} $</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-12">
	          		<div class="cart-detail p-3 p-md-4">
						  <h3 class="billing-heading mb-4">Mode de paiement</h3>
						  			<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="à Livraison" required class="mr-2"> à Livraison </label>
											</div>
										</div>
									</div>
						  			<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="Wafacache Expresse" required class="mr-2"> Wafacache Expresse </label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio"  name="optradio" value="Virement bancaire" required class="mr-2"> Virement bancaire </label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="Paiements par chèque" required class="mr-2"> Paiements par chèque</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" value="Paypal" required class="mr-2"> Paypal<img class="img " src="{{ asset('/produits/logo_paypal_moyens_paiement_fr.jpg') }}"></label>
											</div>
										</div>
									</div>
									
								</div>
	          	</div> 
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
	 
	  {{ form_end(form) }}
    </section> <!-- .section -->

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Abonnez-vous à notre EPICERIE EN LIGNE </h2>
          	<span>Recevez des mises à jour par e-mail sur nos dernières boutiques et offres spéciales</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
