 <div class="sidebar-box ftco-animate mt-3 border">
	<h3 class="heading text-center border p-2" >Menu</h3>

	<ul class="categories">
		<li><a href=" {{ path('presentationpage') }} " class="text-primary">IGHRI <i class="fas fa-cat"></i> <span> </span></a></li>
		<li><a href="{{  path('postpage') }}"class="text-primary">Publications  <span>({{ posts| length }})</span></a></li>
		<li><a  href="{{ path('imagepage') }}"class="text-primary">Images <span>(37)</span></a></li>
		<li><a href="{{ path('vediopage') }}"class="text-primary">Vidéos <span>(42)</span></a></li>
	</ul>
</div>
<div class="sidebar-box ftco-animate border">
	<h3 class="heading">publications récente</h3>
	{% for TopPost in TopPosts %}
	<div class="block-21 mb-4 d-flex">
		<a class="blog-img mr-4" style="background-image: url({{ asset("./upload/posts/"~ TopPost.avatar) }}"></a>
		<div class="text">
			<h3 class="heading-1"><a href="{{ path('showpostpage',{'id': TopPost.id }) }}">{{ TopPost.content|slice(0,70)|raw  }}</a></h3>
			<div class="meta">
				<span class="clearfix" style="font-size: 13px; line-height: 0em;">
						{{ TopPost.datepub | date('d-m-Y') }} <i class="far fa-clock"></i>
						<a href="#" class="text-danger">
						{% set user = 'Utilisateur'%}
						{%  for role in TopPost.author.roles  %}
							{% if role == 'ROLE_ADMIN' %}
								{% set user = 'Admin'%}
								{% else %}
							{% endif %}
						{% endfor %}
						{{ user }}
					</a><i class="fas fa-users"></i>
				</span>
				<hr>
			</div>
		</div>
	</div>
	{% endfor  %}
</div>
            <div class="sidebar-box ftco-animate border">
              <h3 class=" text-center text-dark lead">les utilisateurs de Site</h3>
              <div class="">
			{% for user in users %}
			
			   {% if app.user %} 
						{% if user.id == app.user.id  %}
						<hr>
						{%  else %}
						<hr>
						<div class="row">
							<div class="col-3">
								<img  class=" avatar-pr p-2" src="{{ asset("./upload/users/"~ user.avatar) }}">
							</div>
							<div class="col">
								<h5 class="text-dark"><strong>{{user.getFullname}}</strong></h5>
								<a class="btn btn-info small" href="{{ path('showprofile',{'id': user.id}) }}">Voir Profile</a>
							</div>
						</div>
						{% endif %}
				{% else %}
				<hr>
				<div class="row">
					<div class="col-3">
						<img  class="avatar-pr " src="{{ asset("./upload/users/"~ user.avatar) }}">
					</div>
					<div class="col">
						<h5 class="text-dark"><strong>{{user.getFullname}}</strong></h5>
						<a class="btn btn-info small" href="{{ path('showprofile',{'id': user.id}) }}">Voir Profile</a>
					</div>
				</div>
			{% endif %}
				{% endfor %}
              </div>
            </div>

       