<section class="ftco-section pt-4 pb-4">
        <div class="container">
			<div class="row justify-content-center mb-3 pb-3">
          		<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading"> Produits</span>
					<h2 class="mb-4">ÉPICERIE TALIOUINE  Bio 100 %</h2>
					<p>
					Bienvenue sur notre épicerie en ligne Bio pour la plupart des produits. Découvrez nos Produits bio, 
					SAFRAN ,ARGANE et autres  produits Bio de grande qualité venant des meilleurs producteurs
					et fournisseurs Maroccain, 
					Chaque semaine vous découvrirez de nouveaux produits,
					de nouveaux assemblages 
					. Bonne découverte.
					 </p>
         		</div>
        	</div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				{% for produit in produits %}
    			<div class="col-md-6 col-lg-4 ftco-animate">
    				<div class="product">
    					<a href="{{ path('DetailsProduits',{ 'id': produit.id })  }}" class="img-prod" style="min-height: 150px;max-height: 150px;"><img class="img-fluid" src="{{ asset("/produits/produit/"~ produit.image ) }}" alt="{{ produit.slug|slice(0,10) }}">
    						<span class="status">30%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{ produit.slug | slice(0,15) }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">A partir de {{ produit.prix|number_format(2, '.', ',') }} $</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="{{ path('DetailsProduits',{ 'id': produit.id })  }}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="{{ path('Cartadd',{'id': produit.id } ) }}" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
				</div>
				{% endfor %}
    		</div>
    	</div>
	</section>